body{
background-color: purple;
}


 
h1{


background-color: aqua;
text-align: center;

} 
div{
text-align: center;



}
.home{
  font-size: large;
 text-decoration: none;
 background-color: silver;
 border-radius: 6px;
 box-shadow: 2px,2px,5px white;
 

}

.main-home{
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
  font-style:italic;
  flex-grow: 1px;
  flex-shrink: 1px;
  border-block-start-color: white ;
  margin-top: -50px;
  padding: 0;
  
  
  

}
h5{
 text-size-adjust: auto;


}
article {
  padding: 20px;
  background: #ffffff;
  max-width: 600px;
  margin: 50px auto;
}

.class{
   
  text-align: center;
}

@keyframes move{
  0%   {transform: translateY(100px);}
  25%  {transform: translateX(100px);}
  50%  {transform: translateY(10px);}
  100% {transform: translateX(10px);}


}  
.hire{
animation: move 1s linear infinite;

}

.nav{
text-align: center;
height: 50px;
border: 1px solid rgb(0, 38, 255);
background-color: rgb(255, 0, 0);


}

#link{


}
#links1{
margin-top: -50px;

}
.contact{
margin-bottom: 110px;

}

